<nav></nav>

<div class="container-fluid">
  <div class="container container-fixed-width">
    <div class="row">
      <div class="col-lg-5 col-xs-12 ac mt150">
        <h1 class="color-accent-200 m0 fw300">Keep your Fans updated</h1>
        <h4 style="line-height: 21px;">
          Click below to install ShopNow on your device and start discovering new way to do shopping using Facebook.
        </h4>
        <div class="clearfix mt30">
          <a href ng-click="login()" class="btn btn-lg btn-primary" ng-if="!userID">Continue with Facebook</a>
          <a href ng-click="login()" class="btn btn-lg btn-primary" ng-if="userID">Manage my Pages</a>
        </div>
        <div class="clearfix mt30">
          <small>App available on <a href="">iOS</a> and <a href="">Android</a> devices</small>
        </div>
      </div>
      <div class="col-xs-7 visible-lg bg-mbair">
        <div class="row">
        </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="container container-section">
    <div class="row">
      <div class="col-xs-4 ac">
        <h3>Invite your Fans to ShopNow</h3>
      </div>
      <div class="col-xs-4 ac">
        <h3>Answer to the discount requests on-the-fly</h3>
      </div>
      <div class="col-xs-4 ac">
        <h3>Send direct messages about sales, new products or openings</h3>
      </div>
    </div>
  </div>
</div>

<global-footer class="footer"></global-footer>
