<div class="container-fluid">
  <div class="row">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" collapse="menuCollapsed">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active" class="dropdown">
            <a href ui-sref="home" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <!-- <i class="fa fa-refresh fa-spin"></i> -->
              <i class="fa fa-bars"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li>
            <a href ui-sref="feed">
              My Feed
            </a>
          </li>
          <li class="active" ui-sref-active="active">
            <a href ui-sref="explore">
              Explore
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="https://facebook.com">Back to Facebook</a>
          </li>
          <!-- <li>
            <a href=""><i class="material-icons">notifications</i></a>
          </li> -->
          <li>
            <div class="icon-nav-avatar">
              <a href="">
                <img class="img-circle" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c0.0.160.160/p160x160/11245492_10153275900904293_1724707332891240666_n.jpg?oh=9e885e024634e1a60a590fd071f1c7c6&oe=55ED964A&__gda__=1441895226_af397f973d45f63603c4ea2e844984fa" height="30"/>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid container-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 sidebar-left pull-left">
        <ul class="list-unstyled list-nav-left">
          <!-- <li class="active">
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-avatar"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" height="20"/></div><div class="pull-left pull-text">Pretty Green</div></h4></a>
            </div>
          </li> -->
          <li class="active">
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">local_mall</i></div><div class="pull-left pull-text">All</div></h4></a>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">thumb_up</i></div><div class="pull-left pull-text">Likes</div></h4></a>
            </div>
          </li>
          <!-- <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">card_giftcard</i></div><div class="pull-left pull-text">Discounts</div></h4></a>
            </div> -->
          </li>
          <!-- <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">store</i></div><div class="pull-left pull-text">Following</div></h4></a>
            </div>
          </li> -->
          <!-- <li> THIS ONE WILL BE IN SETTINGS
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">bookmark</i></div><div class="pull-left pull-text">Subscriptions</div></h4></a>
            </div>
          </li> -->
          <!-- <li>
            <div class="clearfix">
              <a href=""><h4><div class="pull-left pull-icon"><i class="material-icons">contacts</i></div><div class="pull-left pull-text">Invite Friends</div></h4></a>
            </div>
          </li> -->
        </ul>
        <!-- <ul class="list-unstyled list-nav-left">
          <li>
            <div class="clearfix">
              <h4 class="small"><i class="fa fa-plus-square"></i> <a href="" class="color-accent-200">Own a store? Have a page on Facebook? <u>Find out more</u> | <u>Join us for FREE!</u></a></h4>
            </div>
          </li>
        </ul> -->
      </div>
      <!-- <div class="col-xs-10 page-content">
        <div class="md-card bg-primary">
          <div class="md-card-content mt16">
            Welcome on Blink4Sale! We are analizing data from your Facebook profile. Please wait for the results. Give us a sec, and in the mean time check our Explore secion below. Cheers.
          </div>
        </div>
      </div> -->
      <div class="col-xs-6 page-content">
        <!-- <div class="md-card">
          <div class="md-card-content m0 p0" style="margin:0;padding:0;">
            <input type="text" placeholder="Search your feed..." class="form-control search"/>
          </div>
        </div> -->

        <div class="md-card bg-primary">
          <div class="md-card-content mt16">
            Welcome on Blink4Sale! We are analizing data from your Facebook profile. Please wait for the results. Give us a sec, and in the mean time check our Explore secion below. Cheers.
          </div>
        </div>


        <div class="sectionHeader">
          <div class="uiHeader">
            <div class="clearfix uiHeaderTop">
              <div><h3 class="uiHeaderTitle">Explore</h3></div>
            </div>
          </div>
          <div class="_5vg"></div>
        </div>

        <card-facebook-page page-id="coteetciel"></card-facebook-page>

        <card-post post-id="10152882234377644"></card-post>
        <card-post post-id="1144036192289532"></card-post>
        <card-post post-id="1143283242364827"></card-post>
        <card-post post-id="10153403374970329"></card-post>

      </div>
      <div class="col-xs-4 sidebar-right">

        <div class="md-card md-layout-sidebar" layout="sidebar">
          <div class="md-card-header">
            Popular Brands
          </div>
          <div class="md-card-content">
            <ul class="list-unstyled mb0 mt16">
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
                <a href="">Pretty Green</a>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
                <a href="">Pretty Green</a>
              </li>
            </ul>
          </div>
          <div class="md-actions" layout="row" layout-align="end center">
            <a class="btn btn-default btn-sm" href ui-sref="explore">Explore more...</a>
          </div>
        </div>

        <div class="md-card md-layout-sidebar" layout="sidebar">
          <div class="md-card-header">
            Recommended
          </div>
          <div class="md-card-avatars">
            <ul class="list-unstyled list-inline list-friends-inline mb0 mt16">
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
              <li>
                <img ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c41.41.517.517/s160x160/385276_10151347899764216_203925705_n.png?oh=e6d607298eda6f7e82e0473295fe96eb&oe=55F7642A&__gda__=1443122740_20d2e43acbe2df9c2aaae184a0789460" width="50" class="md-card-sidebar-avatar" alt=""/>
              </li>
            </ul>
          </div>
          <div class="md-actions" layout="row" layout-align="end center">
            <a class="btn btn-default btn-sm" href ui-sref="invite">Invite Friends...</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Confirmation</h3>
  </div>
  <div class="modal-body">
    Hey! Your request about discount has been sent. We will notify you just after we will receive discount just for you!
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
    <button class="btn btn-default" ng-click="cancel()">Close</button>
  </div>
</script>
